{% extends 'base.html.twig' %}

{% block page_title %}Options - {{ app.user.username }}, {{ app.user.email }}{% endblock %}
{% block title %}Options du compte - {{ app.user.username }} - {{ app.user.ville.nom }}{% endblock %}

{% block body %}

	<div class="card shadow mt-4 mb-5">
    	<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Mes informations</h6>
		</div>

		<div class="card-body">
			{{ form_start(form) }}
				<div class="row">
					<div class="col-6">
						{{ form_row(form.username, {'label': 'Nom de gestionnaire :', 'attr': {'placeholder': 'Nom de gestionnaire'}}) }}
						{{ form_row(form.email, {'label': 'Email :', 'attr': {'placeholder': 'Adresse email'}}) }}
						{{ form_row(form.dispositif, {'label': 'Dispositif :', 'attr': {'placeholder': 'Dispositif'}}) }}
						{{ form_row(form.ville, {'label': 'Ville :', 'attr': {'placeholder': 'Ville'}}) }}
					</div>
					<div class="col-6">
						{{ form_row(form.password, {'label': 'Mot de passe :', 'attr': {'placeholder': 'Mot de passe'}}) }}
						{{ form_row(form.confirm_password, {'label': 'Confirmez le mot de passe :', 'attr': {'placeholder': 'Confirmez le mot de passe'}}) }}
						<button type="submit" class="btn btn-success">Modifier les informations</button>
				</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}