{% extends 'base.html.twig' %}
{% block page_title %}{{ logement.numRue }}, {{ logement.nomRue }}, {{ logement.ville.nom }}{% endblock %}

{% block body %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ path('admin_gestionnaires_show') }}">Gestionnaires</a></li>
			<li class="breadcrumb-item"><a href="{{ path('admin_gestionnaire_show', {'id': logement.gestionnaire.id}) }}">{{ logement.gestionnaire.username }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ logement.numRue }}, {{ logement.nomRue }}, {{ logement.ville.nom }}</li>
		</ol>
	</nav>

	<div class="row text-center">

		{# WIDGET CAPACITE #}
		<div class="col-xl-3 col-md-6 mb-4 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Capacité</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="totCapacite">{{ logement.capacite }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-bed fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

		{# WIDGET OCCUPANTS #}
		<div class="col-xl-3 col-md-6 mb-4 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Occupants</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="totOccupants">{{ locations|length }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-user-friends fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

		{# WIDGET DISPONIBLES #}
		<div class="col-xl-3 col-md-6 mb-4 mx-auto">
			<div class="card  {{ (logement.capacite - locations|length) >= 0 ? 'border-left-primary' : 'border-left-primary-red' }} shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						{% if logement.capacite - locations|length >= 0 %}
							<div class="text-xs font-weight-bold text-primary text-uppercase">Places disponibles</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ logement.capacite - locations|length }}</div>
						{% else %}
							<div class="text-xs font-weight-bold text-primary text-uppercase">Surcharge</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ locations|length - logement.capacite }}</div>
						{% endif %}
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

  </div>

	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Occupants</h6>
		</div>
		<div class="card-body">
			<table id="datatable2" class="display" style="width:100%">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Date de naissance</th>
						<th>Date entrée</th>
						<th>Date de sortie</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for location in locations %}
						<tr {{ location.dateSortie and location.dateSortie < date() ? "class='red'"}}>
							<td>{{ location.occupant.prenom }}</td>
							<td>{{ location.occupant.nom }}</td>
							<td>{{ location.occupant.dateNaissance|date("m/d/Y") }}</td>
							<td>{{ location.dateSortie ? location.dateEntree|date("m/d/Y") }}</td>
							<td>{{ location.dateSortie ? location.dateSortie|date("m/d/Y") }}
							{% if location.dateSortie and location.dateSortie < date() %}
								<br>La date de sortie est inférieure à la date d'aujourd'hui
							{% endif %}
							</td>
							<td>
								<form method="post" action="{{ path('occupant_delete', {'id': location.occupant.id, 'logementId': location.logement.id}) }}">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ location.occupant.id) }}">
									<input type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" value="Supprimer">
									{% include('components/modal_delete.html.twig')%}
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>

			<div class="card-footer">
				<h6 class="mb-4 font-weight-bold text-primary">Ajouter un nouvel occupant</h6>

							{{ form_start(locationForm, {'attr': {'novalidate': 'novalidate'}}) }}
							<div class="row">
								<div class="col-6">
								{{ form_row(locationForm.occupant.nom, {'attr' : {'placeholder': "Nom"}, 'label' : 'Nom :'}) }}
								{{ form_row(locationForm.occupant.prenom, {'attr' : {'placeholder': "Prénom"}, 'label' : 'Prénom :'}) }}
								{{ form_row(locationForm.occupant.dateNaissance, {'label' : 'Date de naissance :'}) }}
								</div>
								<div class="col-6">
									{{ form_row(locationForm.dateEntree, {'label' : 'Date d\'entrée :'}) }}
									{{ form_row(locationForm.dateSortie, {'label' : 'Date de sortie :'}) }}
									<button type="submit" class="btn btn-success">Ajouter</button>
								</div>
							</div>
							{{ form_end(locationForm) }}

			</div>
	</div>

		<div class="card shadow mt-5 mb-5">
			<div class="card-header">
				<h6 class="m-0 font-weight-bold text-primary">Editer le logement</h6>
			</div>	
			<div class="card-body">
				{% include 'logement_form.html.twig' %}
			</div>	
		</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {
			$('#datatable2').DataTable({
				"bInfo": false,
				"language": {
					"emptyTable": "Aucune donnée enregistrée"
				},
				"paging": false,
				"searching": false
			});	
		});
	</script>
{% endblock %}