{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

	<h2>Administration</h2>
	<h3>Gestionnaires</h3>

	<table id="datatable" class="display" style="width:100%">
        <thead >
            <tr>
	  			<th>Gestionnaire</th>
	  			<th>Dispositif</th>
	  			<th>Ville</th>
	  			<th>Nombre de logements</th>
	  			<th>Capacité Totale</th>
	  			<th>Occupants</th>
	  			<th>Places disponibles</th>
	  			<th>	</th>
	      	</tr>
	    </thead>
	    <tbody>
		{% set totLogements = 0 %}
		{% set totCapacite = 0 %}
		{% set totOccupants = 0 %}
		{% set totDisponibles = 0 %}
			{% for gestionnaire in gestionnaires %}
				{% set totLogements = totLogements + gestionnaire.logements|length %}
				<tr>
					<td>{{ gestionnaire.username }}</td>
					<td>{{ gestionnaire.dispositif.nom }}</td>
					<td>{{ gestionnaire.ville.nom }}</td>
					<td>{{ gestionnaire.logements|length }}</td>
					{% set gestCapacite = 0 %}
					{% set gestOccupants = 0 %}
					{% for logement in gestionnaire.logements %}
						{% set gestCapacite = gestCapacite + logement.capacite %}
						{% set gestOccupants = gestOccupants + logement.locations|length %}
        			{% endfor %}
					{% set totCapacite = totCapacite + gestCapacite %}
					{% set totOccupants = totOccupants + gestOccupants %}
					{% set totDisponibles = totDisponibles + (gestCapacite - gestOccupants) %}
					<td>{{ gestCapacite }}</td>
					<td>{{ gestOccupants }}</td>
					<td>{{ gestCapacite - gestOccupants }}</td>
					<td><a href="{{ path('admin_gestionnaire_show', {'id': gestionnaire.id }) }}" class="btn btn-success">Voir</button></a></td>
				</tr>
        	{% endfor %}
	    </tbody>	
    	<tfoot>
            <tr>
  			<th>Gestionnaire</th>
  			<th>Dispositif</th>
  			<th>Ville</th>
  			<th>Total logements : {{ totLogements }}</th>
			<th>Total capacité : {{ totCapacite }}</th>
			<th>Total occupants : {{ totOccupants }}</th>
			<th>Total disponibles : {{ totDisponibles }}</th>
			<th></th>
            </tr>
        </tfoot>
    </table>

{% endblock %}