{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

	<h2>Administration</h2>
	<h3>Toutes les Gestionnaires</h3>

	<table id="example" class="display" style="width:100%">
        <thead >
            <tr>
	  			<th>Dispositif</th>
	  			<th>Ville</th>
	  			<th>Gestionnaire</th>
	  			<th>Nombre de logements</th>
	  			<th></th>
	      	</tr>
	    </thead>
		
	    <tbody>
	    {% set counter = 0 %}
        {% for Gestionnaire in Gestionnaire %}
	    	{% set counter = counter + (Gestionnaire.logement | length) %}
      		<tr>
		        <td>{{ Gestionnaire.username }}</td>
		        <td>{{ Gestionnaire.ville }}</td>
		        <td>{{ Gestionnaire.gestionnaire }}</td>
            	<td>{{ Gestionnaire.logement | length }}</td>
		       <td><a href="{{ path('show_Gestionnaire', {'id': Gestionnaire.id}) }}" class="btn btn-success">Voir</a></td>
      		</tr>
        {% endfor %}

	    	</tbody>	

    	<tfoot>
            <tr>
  			<th>Dispositif</th>
  			<th>Ville</th>
  			<th>Gestionnaire</th>
  			<th>Total : {{ counter }}</th>
  			<th></th>
            </tr>
        </tfoot>
    </table>

{% endblock %}