{% extends 'base.html.twig' %}

{% block page_title %}Administration{% endblock %}
{% block title %}Administration - Gestionnaires{% endblock %}

{% block body %}

	<div class="row text-center">

		{# WIDGET LOGEMENTS #}
		<div class="col-xl-3 col-md-6 mb-2 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Logements :</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="totLogements"></div>
					</div>
					<div class="col-auto">
						<i class="fas fa-building fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

		{# WIDGET CAPACITE #}
		<div class="col-xl-3 col-md-6 mb-2 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Capacité totale :</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="totCapacite"></div>
					</div>
					<div class="col-auto">
						<i class="fas fa-bed fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

		{# WIDGET OCCUPANTS #}
		<div class="col-xl-3 col-md-6 mb-2 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Occupants</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="totOccupants"></div>
					</div>
					<div class="col-auto">
						<i class="fas fa-user-friends fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

		{# WIDGET DISPONIBLES #}
		<div class="col-xl-3 col-md-6 mb-2">
			<div class="card border-left-primary-green shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Disponibles</div>
						<div class="h5 mb-0 font-weight-bold text-gray-800" id="totDisponibles"></div>
					</div>
					<div class="col-auto">
						<i class="fas fa-calendar fa-2x text-gray-300"></i>
					</div>
					</div>
				</div>
			</div>
		</div>

    </div>

	<div class="card shadow mt-2 mb-5">
		<div class="card-header">
			<h6 class="m-0 font-weight-bold text-primary">Gestionnaires</h6>
		</div>

		<div class="card-body card-table">
			<table id="datatable" class="display" style="width:100%">
				<thead >
					<tr>
						<th>Gestionnaire</th>
						<th>Dispositif</th>
						<th>Ville</th>
						<th>Logements</th>
						<th>Capacité</th>
						<th>Occupants</th>
						<th>Disponibles</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% set totLogements = 0 %}
				{% set totCapacite = 0 %}
				{% set totOccupants = 0 %}
				{% set totDisponibles = 0 %}
					{% for gestionnaire in gestionnaires %}
						{% set totLogements = totLogements + gestionnaire.logements|length %}
						<tr>
							<td>{{ gestionnaire.username }}</td>
							<td>{{ gestionnaire.dispositif.nom }}</td>
							<td>{{ gestionnaire.ville.nom }}</td>
							<td>{{ gestionnaire.logements|length }}</td>
							{% set gestCapacite = 0 %}
							{% set gestOccupants = 0 %}
							{% for logement in gestionnaire.logements %}
								{% set gestCapacite = gestCapacite + logement.capacite %}
								{% set gestOccupants = gestOccupants + logement.locations|length %}
							{% endfor %}
							{% set totCapacite = totCapacite + gestCapacite %}
							{% set totOccupants = totOccupants + gestOccupants %}
							{% set totDisponibles = totDisponibles + (gestCapacite - gestOccupants) %}
							<td>{{ gestCapacite }}</td>
							<td>{{ gestOccupants }}</td>
							{% if (gestCapacite - gestOccupants) < 0 %}
								<td class="bg-red">Surcharge ({{ gestOccupants - gestCapacite }})</td>
							{% else %}
								<td>{{ gestCapacite - gestOccupants }}</td>
							{% endif %}
							<td><a href="{{ path('admin_gestionnaire_show', {'id': gestionnaire.id }) }}" class="btn btn-success">Voir</button></a></td>
						</tr>
					{% endfor %}
				</tbody>	
				<tfoot>
					<tr>
					<th>Gestionnaire</th>
					<th>Dispositif</th>
					<th>Ville</th>
					<th>Logements: {{ totLogements }}</th>
					<th>Capacité: {{ totCapacite }}</th>
					<th>Occupants: {{ totOccupants }}</th>
					<th>Disponibles: {{ totDisponibles }}</th>
					<th></th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

	{# DOM SCRIPTS #}
	<script>
		document.getElementById("totLogements").innerHTML = {{ totLogements }};
		document.getElementById("totCapacite").innerHTML = {{ totCapacite }};
		document.getElementById("totOccupants").innerHTML = {{ totOccupants }};
		document.getElementById("totDisponibles").innerHTML = {{ totDisponibles }};
		if ( {{ totDisponibles }} < 0) {
			$("#disponibles").html("Surcharge");			
			$("#totDisponibles").html( Math.abs({{ totDisponibles }}) );
		}
		if ( {{ totDisponibles }} <= 0) {
			$("#card-disponibles").addClass("border-left-primary-red");
		}
	</script>
{% endblock %}
