<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/fh-3.1.4/r-2.2.2/datatables.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.dataTables.min.css"/>
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  
  		<link rel="stylesheet" href="{{ asset('css/sb-admin-2.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/app.css') }}">
		<script src="{{ asset('js/jquery.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    </head>
	<body>

		<!-- Page Wrapper -->
		<div id="wrapper">
			{% include('components/sidebar.html.twig') %}
			<div class="container-fluid mt-3">
				<h1 class="h4 mb-3 text-gray-800">
					{% block title %}{% endblock %}
				</h1>
				{% include('components/alerts.html.twig') %}
				{% block body %}{% endblock %}
			</div>
		</div>

		<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('js/jquery.easing.min.js') }}"></script>
		<script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
	
		{# DATATABLES #}
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
			
		<script>
			$(document).ready(function() {
				$('#datatable').DataTable({
					fixedHeader: {
						header: true,
						footer: true
					},
					"bInfo": false,
					"language": {
						"emptyTable": "Aucune donnée enregistrée",
						"search": "",
						"searchPlaceholder": "Rechercher"
					},
					"paging": false,
					dom: 'Bfrtip',
					buttons: [
						'excel', 'csv', 
						{
							extend: 'pdfHtml5',
							orientation: 'landscape',
							pageSize: 'LEGAL',
						},
						{
							extend: 'print',
							text: 'Imprimer',
							orientation: 'landscape',
							pageSize: 'LEGAL'
						}
					]
				});	
			});

			$('#deleteModal').on('clicks	', function (e) {
				$("body.modal-open").removeAttr("style");
			})
		</script>
		{% block javascripts %}{% endblock %}
	</body>
</html>