{{ form_start(logementForm, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="row text-center">
		<div class="col-6">
			{{ form_row(logementForm.numRue, {'attr' : {'placeholder': "N° Rue"}, 'label' : 'N° Rue :'}) }}
			{{ form_row(logementForm.nomRue, {'attr' : {'placeholder': "Nom Rue"}, 'label' : 'Rue :'}) }}
			{{ form_row(logementForm.ville, {'label' : 'Ville :'}) }}
			{{ form_row(logementForm.numLgmt, {'attr' : {'placeholder': "N° Logement"}, 'label' : 'N° Logement :'}) }}
			{{ form_row(logementForm.numBat, {'attr' : {'placeholder': "N° Bat"}, 'label' : 'N° Bâtiment :'}) }}
		</div>

		<div class="col-6">
			{{ form_row(logementForm.etage, {'attr' : {'placeholder': "Etage"}, 'label' : 'Etage :'}) }}
			{{ form_row(logementForm.typologie, {'attr' : {'placeholder': "Type"}, 'label' : 'Type :'}) }}
			{{ form_row(logementForm.capacite, {'attr' : {'placeholder': "Capacité"}, 'label' : 'Capacité :'}) }}
			{{ form_row(logementForm.description, {'attr' : {'placeholder': "Description"}, 'label' : 'Description :'}) }}
		</div>
	</div>
	<button type="submit" class="btn btn-success">Editer</button>
{{ form_end(logementForm) }}