{% extends 'base.html.twig' %}

{% block title %}Plateforme hebergement - {{ app.user.username}}{% endblock %}

{% block body %}

	<h1>{{ app.user.username }}{{ app.user.email }}</h1>
	<table id="datatable" class="display" style="width:100%">
		<thead>
			<tr>
				<th>N° rue</th>
				<th>Nom rue</th>
				<th>Ville</th>
				<th>N° Bât</th>
				<th>N° porte</th>
				<th>Etage</th>
				<th>Typologie</th>
				<th>Description</th>
				<th>Capacité</th>
				<th>Occupants</th>
				<th>Places disponibles</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% set totalOccupants = 0 %}
		{% set totalDisponibles = 0 %}
			{% for logement in logements %}
				{% set totalOccupants = totalOccupants + logement.locations|length %}
				{% set totalDisponibles = totalDisponibles + (logement.capacite - logement.locations|length) %}
				<tr {{ logement.capacite - logement.locations|length < 0 ? "class='bg-red'"}}>
					<td>{{ logement.numRue }}</td>
					<td>{{ logement.nomRue }}</td>
					<td>{{ logement.ville.nom }}</td>
					<td>{{ logement.numBat }}</td>
					<td>{{ logement.numLgmt }}</td>
					<td>{{ logement.etage }}</td>
					<td>{{ logement.typologie }}</td>
					<td>{{ logement.description }}</td>	
					<td>{{ logement.capacite }}</td>
					<td>{{ logement.locations|length }}</td>
					{% if logement.capacite - logement.locations|length < 0 %}
						<td><strong>Surcharge ({{ logement.locations|length - logement.capacite }})</strong></td>
					{% else %}
						<td>{{ logement.capacite - logement.locations|length }}</td>
					{% endif %}
					<td><a href="{{ path('logement_show', {'id': logement.id }) }}" class="btn btn-success">Voir</button></a></td>
					<td>
						<form method="post" action="{{ path('logement_delete', {'id': logement.id}) }}" onsubmit="return confirm('Confirmer la suppression')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ logement.id) }}">
							<button class="btn btn-danger">Supprimer</button>
						</form>
					</td>
				</tr>
			{% endfor %} 
		</tbody>
		<tfoot>
			<tr>
				<th>N° rue</th>
				<th>Nom rue</th>
				<th>Ville</th>
				<th>N° Bât</th>
				<th>N° porte</th>
				<th>Etage</th>
				<th>Typologie</th>
				<th>Description</th>
				<th>Capacité</th>
				<th>Total occupants : {{ totalOccupants }}</th>
				<th>Total disponibles : {{ totalDisponibles }} </th>
			</tr>
		</tfoot>
	</table>

	<h3>Ajouter un logement :</h3>
	{% include 'logement_form.html.twig' %}
{% endblock %}