{% extends 'base.html.twig' %}
{% block title %}{{ logement.numRue }}, {{ logement.nomRue }}, {{ logement.ville.nom }}{% endblock %}
{% block page_title %}{{ logement.numRue }}, {{ logement.nomRue }}, {{ logement.ville.nom }}{% endblock %}


{% block body %}

	{# BREADCRUMB #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ path('logements_show') }}">Mes logements</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ logement.numRue }}, {{ logement.nomRue }}, {{ logement.ville.nom }}</li>
		</ol>
	</nav>

	<div class="row text-center">

		{# WIDGET CAPACITE #}
		<div class="col-xl-3 col-md-6 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase">Capacité</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{logement.capacite}}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-bed fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# WIDGET OCCUPANTS #}
		<div class="col-xl-3 col-md-6 mx-auto">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase">Occupants</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ locations|length }}</div>
						</div>
						<div class="col-auto">
							<i class="fas user-friends fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		{# WIDGET DISPONIBLES #}
		<div class="col-xl-3 col-md-6 mx-auto">
			<div class="card {{ (logement.capacite - locations|length) > 0 ? 'border-left-primary-green' : 'border-left-primary-red' }} shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							{% if logement.capacite - locations|length >= 0 %}
								<div class="text-xs font-weight-bold text-primary text-uppercase">Places disponibles</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ logement.capacite - locations|length }}</div>
							{% else %}
								<div class="text-xs font-weight-bold text-primary text-uppercase">Surcharge</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ locations|length - logement.capacite }}</div>
							{% endif %}
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="card shadow mt-2 mb-5">
		<div class="card-header">
			<h6 class="m-0 font-weight-bold text-primary">Occupants</h6>
		</div>

		<div class="card-body card-table">
			<table id="datatable2" class="display" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Prénom</th>
						<th>Nom</th>
						<th>Date de naissance</th>
						<th>Nombre d'enfants</th>
						<th>Date entrée</th>
						<th>Date de sortie</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for location in locations %}
						<tr>
							<td>{{ location.occupant.prenom }}</td>
							<td>{{ location.occupant.nom }}</td>
							<td>{{ location.occupant.dateNaissance|date("d/m/Y") }}</td>
							<td>{{ location.occupant.nbEnfant }}</td>
							<td>{{ location.dateSortie ? location.dateEntree|date("d/m/Y") }}</td>
							<td {{ location.dateSortie and location.dateSortie < date() ? "class='bg-red'" }}>{{ location.dateSortie ? location.dateSortie|date("d/m/Y") }}
							{% if location.dateSortie and location.dateSortie < date() %}
								<br><strong>La date de sortie est inférieure à la date d'aujourd'hui</strong>
							{% endif %}
							</td>
							<td><a href="{{ path('occupant_edit', {'id': location.id }) }}" class="btn btn-success">Voir</button></a></td>

							<td>
								<form method="post" action="{{ path('occupant_delete', {'id': location.occupant.id, 'logementId': location.logement.id}) }}">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ location.occupant.id) }}">
									{% include('components/delete_btn.html.twig')%}
								</form>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="card-footer">
			<table id="datatable2" class="display" style="width:100%">
				<tbody>
					<tr>
						{{ form_start(locationForm, {'attr': {'novalidate': 'novalidate'}}) }}
							<td>{{ form_widget(locationForm.occupant.nom, {'attr' : {'placeholder': "Nom"}, 'label' : false }) }}</td>
							<td>{{ form_widget(locationForm.occupant.prenom, {'attr' : {'placeholder': "Prénom"}, 'label' : false }) }}</td>
							<td>{{ form_widget(locationForm.occupant.dateNaissance, {'label' : false }) }}</td>
							<td>{{ form_widget(locationForm.occupant.nbEnfant, {'attr' : {'placeholder': "Nb enfants"}, 'label' : false }) }}</td>
							<td>{{ form_widget(locationForm.dateEntree, {'label' : false }) }}</td>
							<td>{{ form_widget(locationForm.dateSortie, {'label' : false }) }}</td>
							<td></td>
							<td><button type="submit" class="btn btn-success">Ajouter</button></td>
						{{ form_end(locationForm) }}
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card shadow mt-2 mb-5">
		<div class="card-header">
			<h6 class="m-0 font-weight-bold text-primary">Editer le logement</h6>
		</div>	
		<div class="card-body">
			{% include 'logement_form.html.twig' %}
		</div>	
	</div>	

{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function() {
			$('#datatable2').DataTable({
						"bInfo": false,
						"language": {
							"emptyTable": "Aucune donnée enregistrée"
						},
						"paging": false,
						"searching": false
					});	
		});
	</script>
{% endblock javascripts %}