<nav class="navbar navbar-expand-lg navbar-dark secondary-color fixed-top">
    <a class="navbar-brand" href="{{ path('logements_show') }}">Plateforme hebergement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
         {% if app.user %}
            <ul class="navbar-nav ml-auto nav-flex-icons">
                {% if app.user.roles[0] == "ROLE_USER" %}
                    <li class="nav-item"><a href="{{ path('admin_gestionnaires_show') }}" class="nav-link">Administration</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> {{ app.user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbar">
                        <a href="{{ path('compte', {'id': app.user.id, 'token': csrf_token('options-' ~ app.user.id) }) }}" class="dropdown-item">Options</a>
                        <a href="{{ path('deconnexion') }}" class="dropdown-item">Se déconnecter</a>
                    </div>
                </li>
            </ul>
         {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ path('inscription') }}" class="nav-link">Inscription</a></li>
                <li class="nav-item"><a href="{{ path('connexion') }}" class="nav-link">Se connecter</a></li>
            </ul>
        {% endif %}
    </div>
</nav>